@import 'tailwindcss/preflight';
@tailwind utilities;
@reference "tailwindcss";

:root {
  --background: #faf9fc;
  --foreground: #171717;
  --font-sans: 'Geist', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

body,
#__next {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--foreground);
}

/* TODO: Fix 
/* @layer components {
  .title-lg {
    @apply text-3xl font-bold leading-snug;
  }

  .title-md {
    @apply text-2xl font-semibold leading-normal;
  }

  .subtitle {
    @apply text-lg font-medium leading-relaxed;
  }

  .body {
    @apply text-base font-normal leading-relaxed;
  }

  .caption {
    @apply text-sm font-normal leading-snug;
  }
  .subtitle {
    @apply text-lg font-medium leading-relaxed;
  }

  .body {
    @apply text-base font-normal leading-relaxed;
  }

  .caption {
    @apply text-sm font-normal leading-snug;
  }
} */
