@import 'tailwindcss';

:root {
  --background: #f5f5f5;
  --foreground: #171717;
  --font-sans: 'Geist', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

body,
#__next {
  background-color: var(--background) !important;
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
